body {
    background-color: #f2f2f2;
}
.card-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.btn-custom {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    margin-top: 1rem;
}

/* Navigation bar-related settings */

.navbar {
    background-color: #095e65;
    height: 55px; /* Define a altura da barra de navegação */
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
}
.navbar-brand,
.nav-link {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center; /* Alinha o logo e o texto verticalmente */
}
.navbar-brand img {
    width: 120px;
    height: auto;
    margin-right: 25px;
}
.navbar .bi-house-door {
    font-size: 1.5rem;
}
.navbar .bi-box-arrow-right {
    font-size: 1rem;
}
.navbar-brand:hover,
.nav-link:hover {
    color: white;
}

/* Table home settings */

.table {
    margin-top: 20px;
    background-color: white;
}
.table th, .table td {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

/*view-supplier*/
.supplier-container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card {
    margin-bottom: 20px;
    border-radius: 10px;
}
.card-header {
    font-weight: bold;
}
